* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 10vh 0 3vh 0;
}

#weather-form {
  width: 20vw;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#weather-form #akatsuki-img {
  height: 50%;
  width: 60%;
  margin: 0 auto;
  background: url(../img/akatsuki-cloud-cotton-face-mask-artwork.png) no-repeat
    center center/cover;
  border-radius: 30%;
}

#weather-form #city{
  padding: 5px 5px;
  margin: 8% 0 4% 0;
}

#weather-form button{
  width: 40%;
  margin: 0 auto;
  padding: 5px 5px;
}

/* .weather-data{
  visibility: hidden;
  display: flex;
}

.show-weather-data{
  visibility: visible;
} */